@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variaveis globais */
:root{
    --cor1: #F2F2F2;
    --cor2: #F2A0CD;
    --cor3: #D94E9A;
    --cor4: #590222;
    --cor5: #0D0D0D;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-poppins: 'Poppins', 'Segoe UI', sans-serif;
}
/* remocao das bordas e margens */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/**estilos globais**/
/* estilo uppercase texto*/
.text-upper {
    text-transform: uppercase;
}

/* container */
.contain { 
    max-width: 1500px;
    margin: auto;
}

.contain-flex {
    display: flex;
}

.contain-grid {
    display: grid;
}

h2 {
    margin: 0px; /* retira margin do bootstrap */
}

p {
    margin-bottom: 0px !important; /* retira margem do bootstrap */
}

/*fonte padrao para todo o site */
body {
    font-family: var(--fonte-poppins), var(--fonte-padrao);
}

.body-pg-principal{
    background-color: var(--cor1);
}

/* cabecalho */
header {
    background-color: var(--cor2);
}

.header-inner-content {
    display: flex;
    max-width: 1300px;
    margin: auto;
    padding: 1rem;
    height: 100px;
    justify-content: space-between;
}

.header-inner-content .first-content, .second-content, .third-content {
    display: flex;
    align-items: center;
}

#header-logo{
    width: 150px;
}

.header-search-box {
    background-color: white;
    border-radius: 15px;
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-search-text {
    color: var(--cor4);
    background: none;
    border: none;
    font-size: 12px;
    font-style: italic;
    outline: 0;
    transition: 0.6s;
    width: 530px;
    padding-left: 8px;
}

.header-search-box svg {
    color: var(--cor4);
    cursor: pointer;
}

.header-search-box svg:hover {
    color: var(--cor2);
    width: 28px;
    height: 28px;
}

.header-navegation {
    display: flex;
    align-items: center;
    z-index: 2;
}

.header-icon-navegation {
    display: flex;
    gap: 2rem;
}

.header-icon-navegation a {
    font-size: 15px;
}

.header-icon-link {
    color: var(--cor1);
    text-decoration: none;
    display: flex;
    align-items: end;
    transition: 0.5s;
}

.header-icon-link svg {
    margin-right: 10px;
}

.btn-categoria:hover, .header-icon-link:hover {
    color: var(--cor4);
}

.header-btn-icon {
    background-color: transparent;
    border: none;
    color: var(--cor1);
    cursor: pointer;
    display: none;
}

/* barra de navegacao */
.btn-categoria {
    background-color: transparent;
    border: none;
    display: none;
}

.header-icon-link h3 {
    font-size: 15px;
}

.nav-categorias {
    background-color: var(--cor4);
    display: flex;
    padding: 2px;
    justify-content: center;
}

.nav-categorias a {
    margin: 0px 20px;
    color:var(--cor1);
    text-decoration: none;
}

.nav-categorias a:hover {
    color: #D94E9A;
}

/* main */
main {
    background-color: var(--cor1);
}

/* banners */
.banner-principal {
    display: flex;
    justify-content: center;
    border: 1px solid var(--cor4);
    border-radius: 5px;
    margin: 1rem auto;
    max-width: 780px;
    max-height: 450px;
}

.banner-principal img {
    width: 100%;
    border-radius: 5px;
}

/* banner secundarios */
.banners-secundarios {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}


.banners-secundarios .banner {
    max-width: 400px;
    max-height: 240px;
}

div#gif { /* banner gif */
    max-width: 620px;
    max-height: 235px;
}


.banners-secundarios .banner img, div#gif img {
    width: 100%;
}

/* section 1 */

.slider-produtos-oferta {
    background-color: var(--cor3);
}

.produtos-oferta-titulo {
    font-size: 22px;
    color: white;
    margin-left: 2rem;
    padding: 1rem 1rem;
    display: grid;
}

/* card produtos */
.box-cards-produtos {
    padding: 20px;
    align-self: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.card-produto{
    background-color: white;
    border-radius: 5px;
    max-width: 250px;
    border: 1px solid var(--cor2);
    padding: 10px;
}

.card-produto .produto {
    max-width: 228px;
    max-height: 228px;
    margin: 0 auto;
    border: 1px solid var(--cor2);
    border-radius: 5px;
}

.card-produto .produto img {
    width: 100%;
    border-radius: 5px;
}

.card-produto h4 {
    font-size: 16px;
    text-align: left;
    margin: 0.8rem 5px;
}

.card-produto h5, .card-produto p, .card-produto a {
    margin-left: 5px;
    margin-right: 5px;
}

.preco-antigo {
    font-size: 12px;
    text-decoration: line-through;
}

.preco-oferta {
    font-size: 22px;
    color: var(--cor4);
}

.card-preco p {
    font-weight: 400;
    text-align: start;
    color: black;
    font-size: 12px;
}

.card-produto a {
    display: block;
    text-decoration: none;
    color: var(--cor1);
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    padding: 5px;
    max-width: 230px;
    background-color: var(--cor3);
    border-radius: 5px;
    transition: 0.5s;
}

.card-produto a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
}

.card-produto:hover {
    box-shadow: -3px 4px 5px #00000034;
}

/* banner fita */

.main-banner-fita {
    display: flex;
    background-color: var(--cor4);
    border-radius: 5px;
    margin: 2rem 0;
    padding: 1rem;
    justify-content: space-evenly;
}

.fita-informacoes {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    gap: 1rem;
}

div.main-banner-fita div.fita-informacoes .icon {
    width: 64px;
    height: 64px;
}

div.main-banner-fita div.fita-informacoes img {
    width: 100%;
}

.fita-informacoes a, .fita-informacoes p {
    text-decoration: none;
    color: var(--cor1);
}

.fita-informacoes a {
    font-weight: bold;
    font-size: 18px;
}

.fita-informacoes p {
    font-size: 14px;
}

.fita-informacoes .fita-txt {
    text-align: center;
    width: 230px;
}

/* section 2 - produtos mais vendidos */

.section-titulo {
    margin-left: 1.2rem;
    font-weight: 400;
    font-size: 30px;
    text-decoration: 2px var(--cor2) underline;
    color: var(--cor4);
}

/* grade de produtos */
.section-produtos {
    padding: 20px;
    align-self: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* footer */
footer{
    background-color: white;
}

.footer-inf {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}

.footer-inf h3 {
    font-size: 18px;
    text-align: center;
    color: var(--cor4);
}

.linha-horizontal {
    margin: auto;
    content: "";
    width: 200px;
    height: 1px;
    background-color: var(--cor4);
}

#l-4{
    width: 1200px;
}

.footer-inf .informacoes {
    margin: 1rem 0;
}

.footer-inf .informacoes .icones {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.footer-inf .informacoes .icones svg {
    margin: 0 1rem;
}

.footer-nav {
    display: flex;
    padding: 2rem 0;
    justify-content: space-evenly;
}

.footer-nav h3 {
    font-weight: 300;
    font-size: 18px;
    color: var(--cor4)
}

.footer-nav ul, .footer-nav li {
    list-style: none;
    padding-left: 0px;
    font-size: 13px;
    margin-top: 2px;
}

.footer-nav li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-nav section ul li a  {
    text-decoration: none;
    color: black;
}

#sec-btn-crc a {
    text-align: center;
    justify-content: center;
    margin: 0 2rem;
}

.footer-nav-btn {
    text-decoration: none;
    border: 1px solid var(--cor4);
    padding: 3px 10px;
    border-radius: 30px;
    color: var(--cor4);
    transition: 0.5s;
}

.footer-nav-btn:hover {
    color: var(--cor1);
    background-color: var(--cor4);
}

.footer-nav section svg {
    color: var(--cor4);
}

#redes-sociais .icones {
    width: 28px;
    display: flex;
    gap: 12px;
}

.footer-dev {
    text-align: center;
    background-color: var(--cor3);
}

.footer-dev p {
    font-size: 12px;
    color: white;
    margin-bottom: 0px;
    padding: 5px 0;
}

/* pagina de login */

section#login form {
    margin: 0 auto;
    width: 100%;
}

section#login div.row {
    margin: 1rem 0;
}

a.recover-pwd {
    display: block;
    text-decoration: none;
    color: black;
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 13px;
    transition: .3s;
}

a.recover-pwd:hover {
    color: var(--cor3);
    cursor: pointer;
}

#btn-login {
    display: block;
    width: 400px;
    margin: 0 auto 1.5rem auto;
}

div.login-social {
    flex-direction: column;
    gap: 1.5rem;
}

div.login-social .titulo{
    display: block;
    margin: 0 auto;
}

div.login-social .botoes {
    text-align: center;
}






.login-btn-entrar {
    background-color: var(--cor3);
    border: 1px solid var(--cor3);
    width: 100%;
}

.login-btn-entrar:hover {
    background-color: var(--cor2);
    transition: 0.3;
    border: 1px solid var(--cor2);
}


#telaLogin{
    width: 18rem;
    position: absolute;
    top: 40%;
    left: 40%; 
}

.login-link-esqsenha{
    position: absolute;
    top: 252px;
    right: 50px;
    font-size: 12px;
    opacity: 1;
    cursor: pointer;
}

.login-link-esqsenha:hover {
    color: var(--cor3);
    transition: 0.5s;
}

.login-btn-social svg {
    margin-right: 10px;
}

/* PAGINA DO PRODUTO */

.pagina-produto{
    background-color: var(--cor1);
}

#btn-voltar {
    max-width: 100px;
    padding: 3px 16px;
    margin: 1rem 0;
}

.produto-exibicao {
    display: flex;
    background-color: white;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 2.5rem;
    border-radius: 5px;
}

.produto-exibicao .container-produto {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    margin: 0;
}

.produto-exibicao .imagens-produto{
    display: flex;
    gap: 1rem;
}

.produto-exibicao .foto-principal {
    max-width: 500px;
    max-height: 500px;
    padding: 1px;
    border-radius: 5px;
}

.imagens-produto .foto-principal img {
    width: 100%;
}


.imagens-produto .btn-foto-produto button {
    border: none;
    border-radius: 5px;
    border: 1px solid var(--cor5);
    padding: 1px;
    width: 60px;
    transition: .3s;
}

.imagens-produto .btn-foto-produto {
    display: flex;
    width: 75px;
    flex-direction: column;
    gap: 10px;
}

.imagens-produto .btn-foto-produto img {
    width: 100%;
}

.imagens-produto .btn-foto-produto button:hover {
    width: 65px;
}

.inf-produto {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.inf-produto .titulo {
    width: 100%;
}

.inf-produto .titulo h4 {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.inf-produto .stars {
    display: flex;
    gap: 12px;
    margin-bottom: 0.5rem;
}

.inf-produto .stars p {
    font-size: 25px;
    color: #f67034;
}

.inf-produto .cadastro {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.inf-produto .cadastro p {
    font-size: 13px;
    color: var(--cor5);
}

.inf-produto .valor {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.inf-produto .valor h5 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 0px;
}

.inf-produto .valor p {
    font-size: 18px;
}

.inf-produto .valor a {
    font-size: 12px;
    text-decoration: none;
}

.inf-produto .valor a:hover { 
    text-decoration: underline;
}

.btn-selecionar-cor {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.btn-selecionar-cor h5 {
    font-size: 18px;
}

.btn-selecionar-cor button {
    width: 60px;
    border: none;
}

.btn-selecionar-cor img {
    width: 100%;
    border: 1px solid var(--cor5);
    border-radius: 5px;
    transition: 0.3s;
}

.inf-adicionais {
    max-width: 350px;
}

.inf-adicionais h5 {
    font-size: 16px;
}

.inf-adicionais ul, .inf-adicionais li {
    list-style: inside;
    font-size: 15px;
}

.inf-compra {
    max-width: 350px;
    width: 100%;
    display: flex; 
    flex-direction: column;
}

/* frete */
.produto-exibicao .frete {
    display: flex;
    flex-direction: column;
}

.frete .titulo {
    align-items: center;
    gap: 10px;
    display: flex;
    margin-bottom: 1rem;
}

.frete .titulo h5 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/* calcular frete */
.frete .calcular-frete {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.frete .contain-frete {
    max-width: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 0.2fr;
    gap: 8px;
}

.frete .calcular-frete .contain-frete input {
    font-size: 0.95rem;
    line-height: 2rem;
    border: 1px solid var(--cor4);
    border-radius: 5px;
    width: 100%;
    padding: 0.3rem 1rem;
}

.frete .calcular-frete .contain-frete button {
    padding: 10px;
    border-radius: 5px;
    color: var(--cor4);
    background-color: white;
    border: 1px solid var(--cor4);
    transition: 0.3s;
}

.frete .calcular-frete .contain-frete button:hover{
    background-color: var(--cor3);
    color: white;
    border: 1px solid var(--cor3);
}

.frete .calcular-frete a {
    font-size: 12px;
}

/* compra produto */
.comprar-produto .botoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
}

.comprar-produto .botoes button {
    max-width: 350px;
    height: 50px;
}

.botoes .btn-comprar{
    border: none;
    background-color: var(--cor4);
    color: white;
    border-radius: 5px;
    transition: .3s;
}

.botoes .btn-comprar:hover {
    background-color: var(--cor3);
}

.botoes .btn-adc-carrinho{
    border: 1px solid var(--cor4);
    background-color: white;
    color: var(--cor4);
    border-radius: 5px;
    transition: 0.3s;
}

.botoes .btn-adc-carrinho:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    border: 1px solid var(--cor2);
}

.comprar-produto ul, .comprar-produto li {
    list-style: inside;
    text-align: justify;
    max-width: 300px;
    font-size: 14px;
    padding: 0px;
}

.descricao-produto {
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.descricao-produto .titulo{
    margin-bottom: 2rem;
    display: flex;
}
.descricao-produto .titulo img {
    width: 25px;
    height: 25px;
    margin-right: 14px;
}

.descricao-produto .titulo h2 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

/* pagina de cadastro */

section#cadastro {
    min-height: 80vh;
}

section

div.titulo-form {
    display: flex;
    flex-direction: column;
}

div.conteudo {
    max-width: 1500px;
    width: 100%;
    margin: 6rem auto;
}

div.conteudo > div {
    max-width: 600px;
    display: flex;
    margin: auto;
    box-shadow: rgba(40, 41, 61, 0.04) 0px 2px 4px, rgba(96, 97, 112, 0.16) 0px 8px 16px
}

.campo-obrigatorio {
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 12px;
    opacity: 1;
}

.span-required {
    font-size: 12px;
    font-weight: 500;
    margin: 3px 0 0 1px;
    color:  #e63636;
    display: none;
}

.textocadastro{
    display: flex;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.form-group-botcad{
    padding-top: 10px;
}

.rowcad, .col-md-6, .col-md-12 {
    margin-bottom: 10px;
}

.txt-importante{
    font-size: 0.8rem;
}

/* Tela de confirmar metodo de endereço */

.textoCor{
    color:#590222
}

.login-btn-entrega1 {
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    width: 100%;
    margin-bottom: 10px;
}
.login-btn-entrega1:hover {
    background-color: var(--cor2);
    transition: 0.3;
    border: 1px solid var(--cor2);
}

.login-btn-entrega2 {
    background-color: var(--cor3);
    border: 1px solid var(--cor3);
    width: 100%;
    margin-bottom: 10px;
}

.login-btn-entrega2:hover {
    background-color: var(--cor2);
    transition: 0.3;
    border: 1px solid var(--cor2);
}

.botaoEnt{
    background-color: var(--cor1);
    border: 1px solid var(--cor4);   
    text-decoration-color: #590222;
    margin-bottom: 15px;
}

.botaoEnt:hover{
    background-color: var(--cor4);
    border: 1px solid var(--cor3);
}

/* Tela de Esqueceu senha*/

.login-btn-esqsenha {
    background-color: var(--cor3);
    border: 1px solid var(--cor3);
    width: 100%;
    text-align: left;
}

.login-btn-esqsenha:hover {
    background-color: var(--cor2);
    transition: 0.3;
    border: 1px solid var(--cor2);
}

/*======/ classes paginas adm/usuario /======*/

main#adm { /* estilo main */
    background-color: var(--cor1);
}

/** barra esquerda de acesso rapido **/
div.bar-lf-acesso-rapido {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 0px;
    padding: 30px; /* margem interna*/
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(40, 41, 61, 0.04) 0px 2px 4px, rgba(96, 97, 112, 0.16) 0px 8px 16px
}

/** conteudo **/
div.conteudo-adm {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2.5rem;
}

div.conteudo-adm > div.titulo div.icone-svg { /* padrao pra svg em titulos nos container */
    width: 35px;
    height: 35px;
}

div.conteudo-adm div.titulo { /* todas as divs com classe titulo na telas adm */
    display: flex;
    gap: 12px;
}

div.conteudo-adm > div.titulo { /* titulo principal container */
    margin-left: 0.8rem;
    margin-bottom: 2rem;
}

div.conteudo-adm > .titulo h3 { 
    font-size: 20.5px;
    font-weight: bold;
    margin: auto 0;
}

/** estilo section com formulario **/
section.formulario-adm { 
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2rem;
}

section.formulario-adm .titulo { /* div titulo formulários */
    margin: 1.5rem 0 1.5rem 1.5rem;
}

section.formulario-adm .titulo h5 { /* estilo titulo */
    font-size: 15px;
    font-weight: bold;
    margin: auto 0;
}

section.formulario-adm form { /* espaçamento inferior nos formularios */
    margin-bottom: 1.5rem;
}

/** estilo formularios **/
form.formulario-adm > div { /* espaço entre os input's */
    /*margin: 0.8rem 1.5rem;*/
    /*padding: 2px;*/
    position: relative;
}

form.formulario-adm input { /* estilo input */
    font-size: 0.95rem;
    line-height: 2rem;
    border: 1px solid var(--cor4);
    border-radius: 5px;
    width: 100%;
    padding: 0.3rem 1rem;
}

form.formulario-adm input::placeholder { /* fonte nos inputs */
    font-size: 14px;
    font-style: italic;
}

form.formulario-adm input:focus {
    outline: 0;
}

form.formulario-adm span {
    font-size: 0.625rem;
    margin-left: 1.5rem;
}

/** estilo icones svg **/
div.icone-svg { 
    width: 26px;
    height: 26px;
} 

div.icone-svg svg {
    width: 100%;
    height: 100%;
    color: var(--cor4);
}

/** estilo botoes **/
button.btn-primario {
    padding: 10px;
    border: none;
    background-color: var(--cor4);
    color: white;
    border-radius: 5px;
    transition: .3s;
}

button.btn-primario:hover {
    background-color: var(--cor3);
}

button.btn-secundario {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--cor4);
    background-color: white;
    color: var(--cor4);
    transition: 0.3s;
}

button.btn-secundario:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    border: 1px solid var(--cor2);
}

/*======/ fim classes tela de adm /======*/


/* pagina Meu Perfil */

div.inf-perfil { /* posicionamento e espaço entre as sections */
    display: flex;
    gap: 2rem;
}

div.inf-perfil section .botoes { /* botoes alterar informacoes */
    display: flex;
    justify-content: center;
    gap: 7px;
}

div.inf-perfil section .botoes button { /* botoes alterar informacoes */
    width: 45%;
    margin-bottom: 1.5rem;
}

div.inf-perfil form.formulario-adm > div {
    margin: 0.8rem 1.5rem;
    padding: 2px;
}

div.inf-perfil form div > label { /* label titulo nas bordas dos input's */
    color: var(--cor4);
    position: absolute;
    pointer-events: none;
    top: -14%;
    left: 3%;
    background-color: white;
    font-size: 0.75rem;
}

div.inf-perfil section > button {
    display: block;
    width: 50%;
    margin: 1rem auto;
}

div.contain-input { /* dois inputs na mesma linha */
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 0.2rem;
}

form div.contain-input div.complemento label {
    left: 28.5%;
}

/**** pagina carrinho ****/

div#carrinho {
    padding: 2rem 0;
}

div.layout-carrinho {
    gap: 10px;
    grid-template-areas: 
    "prod-carrinho prod-carrinho resumo-compra"
    "prod-carrinho prod-carrinho resumo-compra"
    "calc-frete calc-frete resumo-compra" 
    "cupom cupom resumo-compra";
}

div.layout-carrinho > section {
    background-color: white;
    border-radius: 5px;
}

/** produtos carrinho **/
section.prod-carrinho {
    grid-area: prod-carrinho;
}

section.prod-carrinho .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

section.prod-carrinho h5 {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1.5rem;
}

section.prod-carrinho div.cabecalho button {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

/** barra de separação**/
.bf-separator {
    background: rgba(0,0,0,.1);
    height: 1px;
    margin: 0;
    width: 100%;
}

/** itens do carrinho **/
div.item {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    margin-top: 10px;
}

div.item .imagem {
    margin: auto;
}

div.item div.produto-imagem {
    border-radius: 5px;
    width: 148px;
    padding: 3px;
}

div.item div.produto-imagem img {
    width: 100%;
}

div.item .nome-produto {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

div.item .nome-produto span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.705);
    margin-bottom: 1.5rem;
}

div.item .nome-produto a {
    font-size: 16.5px;
    color: black;
    text-decoration: none;
}

div.item .nome-produto p {
    font-size: 12.5px;
    color: rgba(0, 0, 0, 0.541);
}

/** adicionar ou remover item **/
div.opcoes-compra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcoes-compra .quantidade {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
    margin-bottom: 0.8rem;
}

.opcoes-compra .quantidade .valor {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

button.btn-produto-qtd {
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

button.btn-produto-qtd:hover {
    color: var(--cor4);
}

div.opcoes-compra .quantidade .valor label {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    text-align: center;
}

div.opcoes-compra .quantidade .valor input {
    font-size: 16px;
    text-align: center;
    line-height: 1.75rem;
    max-width: 2.875rem;   
    font-weight: 700;
    border: none;
}

/** botao remover item do carrinho **/
button.remover-carrinho { 
    display: flex;
    gap: 5px;
    border: none;
    background: transparent;
    color: var(--cor4);
    transition: .3s;
}

button.remover-carrinho span {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

button.remover-carrinho:hover {
    color: var(--cor3);
}

/** valor do produto **/
div.item .valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

div.item .valor p:first-child {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: rgb(66, 70, 77);
}

p.valor-produto {
    font-size: 20px;
    line-height: 1.125rem;
    font-weight: 400;
    color: var(--cor4);
}

/** calcular frente **/
section.calc-frete {
    grid-area: calc-frete;
}

section.calc-frete .frete {
    width: 100%;
    padding: 1.5rem;
}

section.calc-frete .icone-svg {
    width: 24px;
}

section.calc-frete .titulo h5 {
    font-size: 18px;
}

section.calc-frete .frete .contain-frete {
    max-width: 400px;
    margin-bottom: 3px;
}

section.calc-frete .frete .calcular-frete {
    margin-bottom: 0;
}

section.cupom {
    grid-area: cupom;
    padding: 2rem;
    height: fit-content;
}

/** estilo input padrão**/
.input-group-padrao1 input {
    font-size: 0.95rem;
    line-height: 2rem;
    border: 1px solid var(--cor4);
    border-radius: 5px;
    padding: 0.3rem 1rem;
}

section.cupom .input-group-padrao1 {
    height: 50px;
}

section.cupom form {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 10px;
}

section.cupom input {
    height: 50px;
}

section.cupom button {
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    height: fit-content;
    height: 50px;
    width: 80%;
}

/**resumo da compra**/
section.resumo-compra {
    grid-area: resumo-compra;
}

section.resumo-compra{
    display: flex;
    flex-direction: column;
    max-width: 19.5rem;
    align-self: flex-start;
    top: 2rem;
    padding: 2rem 2rem 1.5rem;
}

section.resumo-compra .titulo {
    display: flex;
    gap: 10px;
    margin-bottom: 3.5rem;
}

section.resumo-compra .titulo h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.inf-pagamento {
    display: flex;
    flex-direction: column;
}

.inf-pagamento > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.85rem;
}

.inf-pagamento p {
    font-size: 13px;
}

.inf-pagamento span {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: rgb(66, 70, 77);
    text-align: right;
}

.valor-total {
    background-color: rgba(128, 128, 128, 0.096);
    border-radius: 5px;
    padding: 1rem;
    align-items: center;
}

.valor-total p {
    font-weight: bold;
}

.valor-total span {
    font-size: 1.1rem;
}

.valor-desconto {
    background-color: rgba(67, 219, 67, 0.329);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    align-items: center;
}

.valor-desconto span {
    font-size: 1.5rem;
    color: rgb(24, 179, 24);
}

section.resumo-compra div.botoes {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.resumo-compra div.botoes button{
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
}

section.resumo-compra div.botoes button:first-child{
    margin-bottom: 1rem;
}

/* Cadastro de Categoria ADM*/

main#cad-cadastro {
    background-color: var(--cor1);
}

#cadastro-categoria .container-categoria {
    display: flex;
}

div.cad-cadastro {
    display: flex;
    width: 100%;
}

div.cad-cadastro section {
    background-color: white;
    max-width: 1200px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2rem;
}

div.cad-cadastro section .titulo {
    margin: 1.5rem 0 1.5rem 1.5rem;
}

div.cad-cadastro section .titulo h5 {
    font-size: 15px;
    font-weight: bold;
    margin: auto 0;
}

div.cad-cadastro section form div > label {
    color: var(--cor4);
    position: absolute;
    pointer-events: none;
    top: -14%;
    left: 3%;
    background-color: white;
    font-size: 0.75rem;
}

div.cad-cadastro section form div input {
    border: 1px solid var(--cor4);
    border-radius: 5px;
    width: 65%;
    padding: 0.3rem 1rem;
}

div.cad-cadastro section form textarea {
    resize: vertical;
    border: 1px solid var(--cor4);
    border-radius: 5px;
    width: 65%;
    height: 177px;
    padding: 0.3rem 1rem;
}

div.cad-cadastro section .botoes {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 7px;
}

/* TELA DE PAGAMENTO*/

.secao-botao {
    display: flex;
    gap: 0px 2rem;
    margin-top: 1.5rem;    
}

.tipo-pagamento {
    display: flex;
    flex-direction: column;
    width: 310px;
}

.tipo-pagamento button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
}

.tipo-pagamento button svg{
    margin: 0 1.5rem;
}

.descricao-pagamento{
    width: 100%;
    height: 200px;
    padding: 1rem;
    border-radius: 5px;
    background-color: #D9D9D9;
    
}

.container-total{
    display: flex;
    margin-top: 2rem;
    
}

.total-color {
    background-color: hsla(0, 100%, 50%, 0.216);
    margin-right: 1rem;
    flex: 1 1 0%;
    border: 1px solid rgb(255, 0, 0);
    
}

div.tipo-pagamento select .btn-secundario{
    align-items: flex-start;
}

.preco-total {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    border-radius: 0.25rem;
    
}

.total-color-desconto {
    background-color: rgb(229, 255, 241);
    flex: 1 1 0%;
    border: 1px solid rgb(30, 255, 0);
}

.preco-total-desconto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 6.75rem;
    border-radius: 0.25rem;
}


/* MEDIA QUERY */
@media screen and (max-width: 1440px){
    /* global */
    .contain { 
        width: 90vw;
    }
    
    /* header */
    .header-inner-content {
        padding: 0 1rem;
    }

    /* banner fita */
    .fita-informacoes {
        width: 270px;
    }

    .fita-informacoes p {
        font-size: 12px;
    }
     
    /* footer */
    #l-4 {
        width: 70vw;
    }
}

@media screen and (max-width: 1366px){
    /* banner fita */
    .main-banner-fita > div {
        margin: auto;
    }

    .main-banner-fita {
        margin: 1rem auto;
        width: 80vw;
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* PAGINA PRODUTO */ 
    .produto-exibicao {
        flex-direction: column;
    }

    .produto-exibicao .container-produto {
        flex-direction: column;
        margin-bottom: 1rem;
        margin: auto;
    }

    .inf-compra {
        flex-direction: column;
        margin: auto;
    }
}

@media screen and (max-width: 1270px) {
    /* header */
    .header-search-text {
        width: 350px;
   }
}

@media screen and (max-width: 1024px) {
    /* header */
    .header-search-text {
        width: 500px;
    }

    .header-btn-icon {
        display: block;
    }

    .header-navegation{
        width: 50vw;
        position: absolute;
        flex-direction: column !important;
        top: 0;
        right: 0vw;
        background-color: var(--cor4);
        height: 100%;
        padding: 1rem;
        animation-duration: 0.6s;
        margin-right: 150vw;
    }
    .header-icon-navegation{
        flex-direction: column;
        margin: 1rem 0px;
    }
    .header-btn-icon{
        display: block;
    }

    .btn-categoria {
        display: block;
    }

    .btn-categoria:hover, .header-icon-link:hover {
        color: var(--cor3);
    }

    /* banner secundarios */
    .banners-secundarios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 992px){
    /* header */
    .header-search-text {
        width: 400px;
    }

    .nav-categorias {
        position: absolute;
        flex-direction: column !important;
        width: 100vw;
        height: 50vw;
        align-items: center;
        border-radius: 0px 0px 20px 20px;
        margin-left: -150vw;
    }
}

@media screen and (max-width: 768px){
    /* header */
    .header-inner-content {
        height: 14vw;
        padding: 0;
    }

    .header-search-text {
        width: 300px;
        transition: 0.6s;
   }
   /* footer */
   .footer-inf, .footer-nav {
    flex-direction: column;
    }

    #sec-btn-crc, #redes-sociais {
        text-align: center;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    /* pagina meu perfil */
    div.container-perfil div.coluna {
        display: none;
    }

    div.inf-perfil {
        flex-direction: column;
    }
}

@media screen and (max-width: 675px){
    /* header */
    #header-logo {
        width: 100px;
    }

    .header-search-text {
        width: 250px;
        transition: 0.6s;
    }
    /* banner fita */
    .main-banner-fita {
        grid-template-columns: repeat(1, 1fr);
    }

    .fita-informacoes {
        display: flex;
        width: 350px;
    }

    .fita-informacoes a {
        font-size: 16px;
    }
}

@media screen and (max-width: 520px) {
    /* header */
    .header-search-text {
        width: 170px;
    }
}

@media screen and (max-width: 480px){
    /* header */
    #header-logo {
        width: 70px;
    }
    
    .header-search-box {
        height: 32px;
        padding: 5px;
    }

    .header-search-box svg {
        margin-right: 4px;
        margin-bottom: 2px;
        width: 22px;
        height: 22px;
    }

    /* banners */
    .fita-informacoes {
        width: 240px;
    }

    #linha-section-1 {
        width: 240px;
    }
}

@media screen and (max-width: 320px){
    /* header */
    .header-search-box {
        display: none;
    }

    #linha-section-1 {
        width: 230px;
    }
}

/* animacao menu header lateral */
@keyframes showSidebar {
    from {margin-right: -50vw;}
    to {margin-right: 0vw;}
}